body {
    text-align: center;
    background:url(img/1.jpg)no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1 {
    text-align: center;
    color: white;
    text-decoration: underline;
}
p {
    color: white;
    font-size: larger;
    text-align: center;
    font-family: 'Open Sans', sans-serif;;
}
.button {
    padding: 16px 30px;
    background-color: white;
    color: black;
    font-size: larger;
    font-family: 'Open Sans', sans-serif;;
    text-align: center;
    border-radius: 5px;  
    border: none;
    cursor: pointer;
    font-size: 16px;
    transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}
.button:hover {
    background-color: red;
    color: white;
}
.wiki {
    font-size: x-large;
    margin-top: 100px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
}